cnn/__pycache__/
report/main.aux
report/main.log
report/main.out
report/main.synctex.gz
report/main.toc
report/main.

cnn/data/train2017full/
cnn/data/trainSP2017full/
cnn/data/val2017full/
cnn/data/valSP2017full/
