# git repo

# python
*__pycache__/

# jupyter
*.ipynb_checkpoints

# cnn
cnn/data/*.json

# report
report/main.aux
report/main.bbl
report/main.blg
report/main.log
report/main.out
report/main.synctex.gz
report/main.toc
report/pics/*.pptx

# presentation
presentation/main.aux
presentation/main.log
presentation/main.nav
presentation/main.out
presentation/main.snm
presentation/main.synctex.gz
presentation/main.toc

# data
*full/
*.json
