# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Results
/results/
/temp/
/weights/
/unet-results/
/unet-temp/
/unet-weights/

validation_loss.npy
unet_validation_loss.npy
nohup.out
# Other
